/.idea
/.vscode
/.vagrant
.DS_Store
*.swp
/node_modules
/vendor
/build
.editorconfig
.circleci
.git
.gitignore
.gitmodules
.babelrc
.eslintrc.js
webpack.mix.js
yarn.lock
_ide_helper.php
_ide_helper_models.php
phpunit.xml
Dockerfile
Makefile